{% extends 'base.html' %}
{% block title %} Корзина {% endblock %}
{% block content %}
{% load static %}
<h3 class="text-center">Товары в корзине</h3>
<table class="table table-bordered rounded">
    <thead class="bg-light">
    <tr>
        <th scope="col">№</th>
        <th scope="col">Название</th>
        <th scope="col">Изображение</th>
        <th scope="col">Цена</th>
        <th scope="col">Количество</th>
        <th scope="col">Сумма</th>
        <th scope="col">Действие</th>
    </tr>
    </thead>
    <tbody id="productInCart">

    {% for product in cart.products.all %}
    <tr class="jsBtnOrder" id="productInCart_{{product.pk}}">
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ product.product.title }}</td>
        <td>
            <img style="max-width: 70px"
                 src="{% if product.product.image %}{{ product.product.image.url }}{% else %}{% static 'image/no_image.jpg' %}{% endif %}">
        </td>
        <td>{{ product.product.price }}</td>
        <td>
            <form method="POST" action="">
                {% csrf_token %}
                <input value="{{ product.quantity }}" type="number"
                       data-count="{{ product.id }}" data-cart="{{ cart.id }}"
                       data-url="{% url 'product_to_cart_change_quantity' product.id %}"
                       class="form-control" style=" display: inline; max-width: 100px" min="0">
            </form>
        </td>
        <td class="js-total">{{ product.total }}</td>
        <td>
            <form id="productDelete_{{product.pk}}" action="{% url 'product_to_cart_delete' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </form>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="5">
            <b>Итого:</b>
        </td>
        <td id="cartSum" colspan="2" class="bg-light">
            {{ cart.sum }}
        </td>
    </tr>
    </tbody>
</table>
{% if cart.products.all %}
<a id="btnOrder" href="{% url 'order' %}" class="btn btn-success">Оформить заказ</a>
{% endif %}
<script src="{% static 'app_product/js/cart.js' %}"></script>
{% endblock %}