{% extends 'app_product/category_control.html' %}

{% block title %} Изменить: Категория {% endblock %}
{% block form %}
{% load static %}
<h3 class="text-center">Изменение категории</h3>
{% for error in form_category.non_field_errors %}
<div class="alert alert-danger">{{ error }}</div>
{% endfor %}
{% for error in form_category.title.errors %}
<div class="alert alert-danger">{{ error }}</div>
{% endfor %}
<form action="" method="POST">
    {% csrf_token %}
    <label class="mb-2" for="{{ form.title.id_for_label }}">{{ form_category.title.label }}: </label>
    {{form_category.title}}
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-dark mt-3">Изменить название</button>
    </div>
</form>

<h3 class="mt-3">Характеристики:</h3>
<button type="button" id="create_specification" class="btn btn-success" data-bs-toggle="modal"
    data-bs-target="#createSpecification"> Добавить характеристику
</button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Характеристика</th>
            <th scope="col">Фильтр</th>
            <th scope="col">Тип фильтра</th>
            <th scope="col">Действие</th>
        </tr>
    </thead>
    <tbody>
        {% for specification in specifications %}
        <tr>
            <th scope="row">1</th>
            <td>{{ specification.title }}</td>
            <td>{{ specification.use_filters }}</td>
            <td>{{ specification.type_filter }}</td>
            <td>
                <button type="button" class="btn btn-primary"><i class="bi bi-vector-pen"></i></button>
                <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Create Specification -->
<div class="modal fade" id="createSpecification" tabindex="-1" aria-labelledby="createSpecificationLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createSpecificationLabel">Добавление характеристики</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'specification_create' slug_categories %}" method="POST">
                <div id='container_create_specification' class="modal-body">
                    {% csrf_token %}
                    {{ form_specification }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                    <button type="submit" class="btn btn-success">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% block js_script %}
<script src="{% static  'js/specification_create_and_change.js' %}"></script>
{% endblock %}

{% endblock %}