{% extends 'base.html' %}

{% block title %} {{ product.title }} {% endblock %}

{% block content %}
{% load static %}
<nav class="" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Главная</a></li>
        <li class="breadcrumb-item"><a href="{% url 'category_detail' product.category.slug %}">{{ product.category.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
    </ol>
</nav>
<div class="row mt-3 mb-3">
    <div class="col-md-3">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'image/no_image.jpg' %}{% endif %}" class="img-fluid">
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-9">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text text-justify">{{ product.description }}</p>
                <p><b>В наличии:</b> {% if product.product_availability %}Да {% else %}Нет{% endif %}</p>
                <p><b>Рейтинг:</b> {{ product.rating }}</p>
            </div>
            <div class="col-3">
                <p class=" font-monospace fs-5 fw-bold">{{ product.price }}</p>
                <form action="{% url 'product_to_cart' product.slug %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">В корзину <i class="bi bi-cart4"></i></button>
                </form>
                {% if request.user.is_staff %}
                <a href="{% url 'product_change' product.slug %}" class="btn btn-warning mt-2">Изменить</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div>
    <h3>Характеристики: "{{ product.title }}"</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Характеристика</th>
            <th scope="col">Значение</th>
        </tr>
        </thead>
        <tbody>
        {% for specification_value in product.specification.all %}
        <tr>
            <th scope="row">{{ specification_value.specification.title }}</th>
            <td>{{ specification_value.value }} {{ specification_value.specification.unit }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div>
    <h3>Отзывы</h3>
    {% if user.is_authenticated %}
    <form id="reviewCreateForm" action="{% url 'review_add' product.slug %}" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="rating">
                <input type="radio" name="rating" value="5" id="rating5"><label for="rating5">☆</label>
                <input type="radio" name="rating" value="4" id="rating4"><label for="rating4">☆</label>
                <input type="radio" name="rating" value="3" id="rating3"><label for="rating3">☆</label>
                <input type="radio" name="rating" value="2" id="rating2"><label for="rating2">☆</label>
                <input type="radio" name="rating" value="1" id="rating1"><label for="rating1">☆</label>
            </div>
            <div class="col-md-9"><input type="text" id="reviewText" class="form-control"></div>
            <small id="reviewCreateFormError" class="text-danger"></small>
            <div class="col-md-3 mt-2">
                <button type="submit" class="btn btn-success">Отправить</button>
            </div>
        </div>
    </form>
    <hr/>
    {% endif %}
    <div id="reviewList" class="mt-2 mb-5">
        {% for review in page_obj %}
        <div id="reviewDetail_{{review.pk}}" class="mt-2">
            <div><b class="review-user">{{ review.customer }}</b>
                {% if review.rating != 0 %}<i class="bi bi-star"></i>{{ review.rating }}{% endif %}
            </div>
            <small style="color: #5d5d64"><i>{{ review.date_of_creation }}</i></small>
            <div><b>Отзыв:</b> {{ review.review }}</div>
            <form id="reviewDeleteForm_{{review.pk}}" action="{% url 'review_delete' %}" method="POST">
                {% csrf_token %}
                {% if review.customer.user == request.user %}
                <button type="submit" class="review-delete-link ">Удалить</button>
                {% endif %}
            </form>
        </div>
        {% endfor %}
    </div>
    {% include 'include/pagination.html' %}
</div>
<script src="{% static 'app_product/js/review.js' %}"></script>
{% endblock %}