<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Магазин</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Категории</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Категория №1</a></li>
                        <li><a class="dropdown-item" href="#">Категория №2</a></li>
                        <li><a class="dropdown-item" href="#">Категория №3</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Управление магазином</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'category_create' %}">Управление категориями</a></li>
                        <li><a class="dropdown-item" href="{% url 'product_create_control' %}">Добавление продукта</a></li>
                        <li><a class="dropdown-item" href="{% url 'filter_control' %}">Управление кастомными фильтрами</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О Магазине</a>
                </li>
            </ul>
            <button class="btn btn-outline-success me-2" type="submit">Вход</button>
            <button class="btn btn-outline-success " type="submit">Регистрация</button>
        </div>
    </div>
</nav>